<html>

<head>
    <title>Home page</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
      {{>header}}
        <h1>From {{title}} page hbssss</h1>
        <h2>{{title}}</h2>
        <h3>{{name}}</h3>
        <img src={{img}} width="200px">
           {{>footer}}
      
    <script src="js/main.js"></script>
</body>

</html>