
<html>

<head>
    <title>Home page</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    {{>header}}
    <h1>From index page hbs</h1>
    <p style="font-size: x-large;">search for location and temprature</p>
<form action="" id="myform">
    <input type="text" id="address">
    <button>Search</button>
    <p id="location"></p>
    <p id="forecast"></p>
    <p id="error"></p>
 

</form>

    <h2>{{title}}</h2>
    <h3>{{name}}</h3>
       {{>footer}}
    <script src="js/main.js"></script>
</body>

</html>